version: '3.8'

services:
  db:
    image: mongo
    container_name: db
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=casa
      - MONGO_INITDB_ROOT_PASSWORD=casa
    ports:
      - "27017:27017"
    volumes:
      - /temp:/data/db
      